.card {
    min-width: 16rem;
    width: 18rem;
    max-width: 24rem;
    margin-inline: 15px;
    padding: 8px;
    margin-block: 15px;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2%;
    align-items: center;
    justify-content: space-around;
}

.card h3 {
    text-transform: capitalize;
}

.card h5 {
    margin-top: 5%;
}

.card h6 {
    padding-left: 3%;
    margin-top: 5%;
}

.card p {
    float: right;
    margin-left: 60%;
    
}

.card button {
    margin-top: 5%;
}