.Admin {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 25%;
    margin-top: 3%;
    margin-left: 2%;
}

.Add {
    display: flex;
    flex-direction: row;
}

.Admin input {
    padding-inline: 8px;
    padding-block: 7px;
    margin-block: 7px;
    border-radius: 6px;
}

.Admin select {
    margin-block: 7px;
}

p {
    font-size: 24px;
    font-weight: 400;
    font-display:inherit;
}